body {
  background-color: white;
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  color: #95a5a6;
  font-size: 44px;
  line-height: 54px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0px;
  text-shadow: none;
}
h2 {
  margin-right: 0px;
  margin-bottom: 27px;
  margin-left: 0px;
  color: #8a6d2f;
  font-size: 38px;
  line-height: 36px;
  font-weight: 300;
  text-shadow: none;
}
h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  padding-right: 60px;
  padding-left: 60px;
  color: rgba(0, 0, 0, 0.40);
  font-size: 23px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}
.button {
  display: block;
  width: 30%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #a8863d;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}
.button:hover {
  background-color: #18c7aa;
}
.button.register {
  width: 20%;
  height: 48px;
  margin-top: 30px;
  float: right;
  background-color: #67749e;
  text-align: center;
  text-shadow: none;
}
.button.register.send {
  width: 15%;
  height: 43px;
  margin-bottom: 0px;
  background-color: #779e67;
  font-size: 14px;
  text-shadow: none;
}
.button.select_file {
  width: 15%;
  height: 38px;
  background-color: #679e90;
  font-size: 14px;
  text-shadow: none;
}
.button.select_file:hover {
  background-color: #62debf;
  text-shadow: none;
}
.button.save_profile {
  text-shadow: none;
}
.button.blue {
  float: right;
  background-color: #67749e;
  text-shadow: none;
}
.button.blue:hover {
  background-color: #7d9bff;
  text-shadow: none;
}
.button.blue.change_pic {
  width: 100%;
  margin-top: 8px;
  margin-left: 0px;
  padding-top: 16px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 14px;
  text-shadow: none;
}
.button.blue.next_step {
  margin-top: 30px;
  text-shadow: none;
}
.button.blue.signin {
  width: 100%;
  height: 39px;
  margin-bottom: 0px;
  margin-left: 12px;
  float: left;
  font-size: 14px;
  text-shadow: none;
}
.button.blue.read_more {
  width: 22%;
  height: 36px;
  padding-top: 7px;
  float: left;
  background-color: #9da9cf;
  font-size: 16px;
  text-shadow: none;
}
.button.blue.read_more:hover {
  background-color: #7e8ec2;
  text-shadow: none;
}
.button.green {
  width: 100%;
  background-color: #679e90;
  text-shadow: none;
}
.button.green:hover {
  background-color: #4bd6b3;
  text-shadow: none;
}
.button.green.profile_pic {
  width: 100%;
  margin-top: 8px;
  padding-top: 16px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 16px;
  text-shadow: none;
}
.button.green.finish {
  width: 100%;
  text-shadow: none;
}
.button.green.signup {
  width: 100%;
  height: 39px;
  margin-bottom: 10px;
  margin-left: 12px;
  float: left;
  font-size: 14px;
  text-shadow: none;
}
.field {
  width: 70%;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border: 0px solid black;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: white;
  box-shadow: transparent 0px 0px 8px 0px inset;
  -webkit-transition: box-shadow 150ms ease;
  -o-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #806732;
  font-size: 18px;
  font-weight: 300;
}
.field:focus {
  box-shadow: #b59143 0px 0px 0px 2px inset;
}
.sign-up-form {
  margin-top: 40px;
}
.social-widget {
  width: 100px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-widget-wrapper {
  display: block;
  width: 223px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}
.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #b59143;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
}
.spread-word {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}
.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}
.bar {
  width: 14.285%;
  height: 7px;
  float: left;
  background-color: #1abc9c;
}
.container {
  padding-right: 70px;
  padding-left: 70px;
}
.social-section {
  padding-top: 58px;
  padding-bottom: 58px;
  background-color: #67809f;
  text-align: center;
}
.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}
.share-wrapper {
  margin-top: 32px;
}
.social-btn {
  margin-left: 17px;
  padding-right: 2px;
  padding-left: 2px;
  opacity: 0.15;
  -webkit-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  text-shadow: none;
}
.social-btn:hover {
  opacity: 0.7;
}
.social-btn.footer {
  margin-right: 9px;
  margin-left: 9px;
}
.navbar {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: white;
}
.right-nav {
  padding-top: 2px;
  text-align: right;
}
.brand {
  display: inline-block;
  color: #2e2e2e;
  font-size: 32px;
  line-height: 22px;
  font-weight: 500;
}
.logo {
  margin-top: -10px;
  margin-right: 3px;
}
.logo.footer {
  display: block;
  margin: 0px auto 21px;
}
.section {
  padding-top: 42px;
  padding-bottom: 81px;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
}
.section.hero {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: #fac960;
  text-align: center;
}
.section.hero.success {
  background-color: #18c7aa;
}
.section.hero.menu_name {
  background-color: #ffe09c;
}
.section.grey {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  background-color: #f2f2f2;
}
.section.blue {
  padding-bottom: 42px;
  background-color: #618dc2;
}
.grey-heading {
  color: rgba(0, 0, 0, 0.56);
  text-shadow: none;
}
.image-crop {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 368px;
  margin-top: 39px;
  margin-bottom: -81px;
}
.phone-image {
  width: 381px;
}
.infinite {
  margin-top: 52px;
  opacity: 0.15;
}
.menubar {
  background-color: #67809f;
}
.navlink {
  float: left;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-shadow: none;
}
.navlink:hover {
  background-color: #7b91ad;
  color: white;
}
.left {
  float: left;
  text-shadow: none;
}
.menu_name {
  padding-top: 0px;
  padding-left: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #919191;
  font-size: 28px;
  text-align: left;
  text-shadow: none;
}
.menu_name.status {
  margin-top: 16px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  float: none;
  clear: left;
  font-size: 16px;
  text-align: right;
  text-shadow: none;
}
.menu_name.status.danger {
  color: #9e6767;
  font-size: 21px;
  text-shadow: none;
}
.head.col.noti {
  padding-right: 8px;
  padding-left: 8px;
}
.head.text {
  margin-left: 0px;
  font-family:'PT Sans', sans-serif;
  font-size: 31px;
  font-style: normal;
  text-decoration: none;
}
.content {
  text-shadow: none;
}
.content.div {
  text-shadow: none;
}
.content.div.block {
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
  padding: 18px;
  background-color: #f2f2f2;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-shadow: none;
}
.content.name_user {
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left: 18px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #679e9c;
  font-size: 32px;
  text-shadow: none;
}
.content.user_detail {
  margin-left: 18px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #575757;
  font-size: 15px;
  text-align: left;
  text-shadow: none;
}
.content.row {
  text-shadow: none;
}
.content.row.user {
  margin-bottom: 13px;
  text-shadow: none;
}
.content.profile_pic {
  float: left;
  text-shadow: none;
}
.content.camp_detail {
  text-shadow: none;
}
.content.register {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-top: 0px;
  text-align: left;
  text-shadow: none;
}
.content.profile_detail {
  text-shadow: none;
}
.content.profile {
  text-shadow: none;
}
.content.table {
  text-shadow: none;
}
.page_name {
  float: none;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #7d7d7d;
  text-align: left;
  text-shadow: none;
}
.page_name.status {
  margin-top: 12px;
  margin-left: 0px;
  text-shadow: none;
}
.footer.text {
  font-family:'PT Sans', sans-serif;
  color: #b7ceeb;
  font-size: 14px;
  text-shadow: none;
}
.right {
  float: right;
  text-shadow: none;
}
.right.status {
  margin-top: 10px;
  margin-right: 24px;
  text-shadow: none;
}
.right.wait_validate {
  text-shadow: none;
}
.calendar {
  text-shadow: none;
}
.icon {
  margin-top: 0px;
  float: right;
  clear: none;
  text-shadow: none;
}
.icon._32 {
  margin-right: 8px;
  text-shadow: none;
}
.icon._48 {
  margin-right: 8px;
  margin-bottom: 18px;
  text-shadow: none;
}
.icon._48.feed {
  margin-top: 8px;
  margin-right: 0px;
  text-shadow: none;
}
.paragraph {
  padding-left: 0px;
  font-size: 18px;
  text-align: left;
  text-shadow: none;
}
.paragraph.news {
  margin-top: 12px;
  color: #7a7a7a;
  text-shadow: none;
}
.heading {
  text-shadow: none;
}
.heading.camp_name {
  margin-top: 0px;
  color: #7d7d7d;
  text-shadow: none;
}
.heading.index {
  text-shadow: none;
}
.heading.index._1 {
  color: white;
  font-size: 38px;
  text-align: center;
  text-shadow: none;
}
.heading.index._2 {
  margin-top: 15px;
  color: #a8d1ff;
  font-size: 28px;
  text-align: center;
  text-shadow: none;
}
.heading.feed {
  color: #6d6e6e;
  text-shadow: none;
}
.form {
  text-shadow: none;
}
.form.register_camp {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
  text-align: left;
  text-shadow: none;
}
.tab_menu {
  text-align: left;
  text-shadow: none;
}
.tab_pane {
  text-shadow: none;
}
.row {
  text-shadow: none;
}
.row.view_profile {
  margin-top: 18px;
  text-shadow: none;
}
.tab_link {
  text-shadow: none;
}
.tab_link.w--current {
  background-color: #67809f;
  color: white;
  text-shadow: none;
}
.step_bar {
  margin-bottom: 8px;
}
.link {
  color: #67809f;
}
.link:hover {
  color: #5383bd;
}
.link.forget_pass {
  margin-left: 0px;
  padding-top: 0px;
  float: none;
  text-align: right;
}
.slider {
  height: 100%;
}
.div {
  text-shadow: none;
}
.div.slide {
  height: 450px;
}
.div.register_block {
  text-shadow: none;
}
.image {
  text-shadow: none;
}
.image.news_pic {
  width: 100%;
  height: 500px;
  background-color: #e0e0e0;
  text-shadow: none;
}
.text {
  text-shadow: none;
}
.text.add_by {
  color: #4f4f4f;
  text-align: left;
  text-shadow: none;
}
.text.regis_col_name {
  margin-top: 0px;
  margin-bottom: 18px;
  color: #679e90;
  font-size: 18px;
  text-align: left;
  text-shadow: none;
}
.register {
  margin-top: 0px;
  padding-top: 0px;
  text-shadow: none;
}
.label {
  color: #6e6e6e;
  text-shadow: none;
}
@media (max-width: 991px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 30%;
  }
  .field {
    width: 70%;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
  .navlink {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    clear: left;
    text-shadow: none;
  }
  .left {
    margin-top: 60px;
    margin-right: 0px;
    margin-left: 0px;
    text-shadow: none;
  }
  .content.name_user {
    text-shadow: none;
  }
  .content.profile_pic {
    text-shadow: none;
  }
  .right {
    text-shadow: none;
  }
  .menu_button {
    color: white;
  }
}
@media (max-width: 767px) {
  h1 {
    text-shadow: none;
  }
  p {
    text-shadow: none;
  }
  .button {
    width: 40%;
  }
  .field {
    width: 60%;
  }
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .section.hero {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .content.name_user {
    margin-left: 0px;
    text-shadow: none;
  }
  .content.user_detail {
    margin-left: 0px;
    text-shadow: none;
  }
  .content.profile_pic {
    text-shadow: none;
  }
  .right {
    text-shadow: none;
  }
}
@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 46px;
    text-shadow: none;
  }
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    padding-right: 18px;
    padding-left: 18px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }
  .social-widget {
    width: 96px;
  }
  .social-widget-wrapper {
    display: block;
    width: 194px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .right-nav {
    text-align: right;
  }
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .grey-heading {
    text-shadow: none;
  }
  .image-crop {
    height: 278px;
    margin-bottom: -47px;
  }
  .phone-image {
    width: 80%;
  }
  .navlink {
    text-shadow: none;
  }
  .left {
    text-shadow: none;
  }
  .head.col.noti {
    margin-bottom: 10px;
    float: none;
    font-size: 14px;
  }
  .content.div.block {
    text-shadow: none;
  }
  .page_name {
    text-shadow: none;
  }
  .right {
    text-shadow: none;
  }
  .icon_mobile {
    color: white;
  }
  .menu_button {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: white;
  }
}

