<div class="panel panel-default">
    <div class="panel-heading">
        Secton 2 | Register Page
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" id="field_lists">
                <div class="row" ng-repeat="field in fields">
                    <div class="col-xs-1 text-center">
                        <button type="button" class="btn btn-danger btn-sm" ng-click="deleteField(field);"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control input-sm" name="fields[{{ $index}}][name]" ng-model="field.name" placeholder="Field Name">
                        <input type="hidden" name="fields[{{ $index}}][id]" ng-value="field.id">
                    </div>
                    <div class="col-xs-3">
                        <select name="fields[{{ $index}}][type]" class="form-control input-sm" ng-model="field.type">
                            <option value="TEXT">Single Line</option>
                            <option value="TEXTAREA">Multi Line</option>
                            <option value="FILE">File</option>
                        </select>
                        <br>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="fields[{{ $index}}][is_required]" value="1" ng-checked="field.is_required" ng-model="field.is_required"> Required
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-success" ng-click="addField()">Add Field +</button>
            </div>
        </div>
    </div>
</div>
