<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <h2>Secton 3 | Score</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="subject_list" class="panel-group" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default" ng-repeat="subject in subjects">

                        <div class="panel-heading" role="tab" id="subject{{ $index }}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#subject_list" href="#collapseSubject{{ $index }}" aria-expanded="true" aria-controls="collapseSubject{{ $index}}">
                                    {{ $index + 1 }} Subject 
                                </a>
                                <div class="input-group">
                                    <input name="subjects[{{ $index }}][name]" ng-model="subject.name" class="form-control input-sm" placeholder="Subject">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button" ng-click="removeSubject(subject);"><i class="fa fa-trash"></i></button>
                                    </span>
                                </div>

                                <input type="hidden" name="subjects[{{ $index }}][id]" ng-value="subject.id">
                            </h4>
                        </div>
                        <div id="collapseSubject{{ $index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subject{{ $index }}">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="test in subject.tests">
                                        <div class="input-group">
                                            <input name="subjects[{{ $parent.$index }}][tests][{{ $index }}][name]" ng-model="test.name" class="form-control input-sm">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-sm" type="button" ng-click="removeTest(test,subject);"><i class="fa fa-trash"></i></button>
                                            </span>
                                        </div>

                                        <input type="hidden" name="subjects[{{ $parent.$index }}][tests][{{ $index }}][id]" ng-value="test.id">
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-success" ng-click="addTest(subject)">Add Score +</button>
                            </div>
                        </div>
                    </div>

                </div>
                <button type="button" class="btn btn-success" ng-click="addSubject()">Add Subject +</button>
            </div>
        </div>
    </div>
</div>